* {
    margin: 0;
    padding: 0;
}

/* body {
    width: 100%;
    height: 100%;
} */

.gameBox {
    position: relative;
    position: fixed;
    width: 1024px;
    height: 768px;
    background: url("../img/Background_from_ECC_Comp_Design.png");
}

.player {
    position: absolute;
}
.staff {
    position: absolute;
    bottom: 300px;
    right: 450px;
}
